.welcomPage{
    min-width:100vw;
    max-width:100vw ;
   
}

.navCon{
    min-width:100vw;
    max-width:100vw ;
    min-height: 70px;
    max-height: 70px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #00c8ff;
    background-color: black;
}
.navLogo{
    color: #00c8ff;
    font-size: 25px;
    font-weight: 800;
    margin-left: 15px;
font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.navLinksCon{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-right: 10px;
}
.navLink{
    color:white;
    padding: 5px 7px;
    margin: 5px;
    border: 1px solid #00c8ff;
    border-radius: 10px;
    

}


@media screen and (max-width:750px) {
   
    .navCon{
        flex-direction: column;
        min-height: 70px;
        max-height: 70px;
    }
    .navLogo{
        margin-top: 10px;
        font-size: 20px;
        color: #00c8ff;
    }
    .navLinksCon{
        justify-content: flex-end;
        min-width:100vw;
        max-width:100vw ;
    }
    .navLink{
        padding:5px 7px;
        background-color: transparent;
        font-size: 14px;
        border: 1px solid #00c8ff;
    border-radius: 10px;
    }
}





.introCon{
    min-width:100vw;
    max-width:100vw ;
    min-height: 84vh;
    max-height: 84vh;
    display: flex;

}

.introConIntro{
    min-width:50vw;
    max-width:50vw ;
    min-height: 84vh;
    max-height: 84vh;
    display: flex;
    justify-content: center;
    align-items: center;
    line-break: auto;

}
.introConIntroText{
    text-wrap:balance;
    text-align: center;
    font-style: italic;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 30px;
    font-weight: 700;
    padding: 15px;
    color: #02b0e0;
    color: #0192ba;


}

.introConImgCon{
    min-width:50vw;
    max-width:50vw ;
    min-height: 84vh;
    max-height: 84vh;
    background-image: url('./Screen\ Shot\ 2023-09-03\ at\ 10.32.34\ PM.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size:contain;

}

@media screen and (max-width:600px) {
    .introCon{
        margin-top: 20px;
        flex-direction: column;
        min-height: max-content;
        max-height: max-content;
    }
    .introConIntro{
        min-height: max-content;
        max-height: max-content;
        min-width:99vw;
        max-width:99vw ;
    }
    .introConImgCon{
        min-height: 350px;
        max-height:350px;
        min-width:100
        
        vw;
        max-width:100vw ;
        margin: 10px;
    }
    .introConIntroText{
        font-size: 20px;
    }
}