:root {
    --primary-color: #1f1f1f;
    --secondary-color:#de8332;
    --back-color: #0e0e0e;
    --text-color: #c7c7c7;
    --text-color-title:#e7e9ea;
    --text-color-black:black;


    --primary-color-light:#e7e9ea;




    --line-color: #050505;

  

    

    --font-family-text1:apple-system, "system-ui", "Segoe UI", Roboto, Helvetica, Arial, sans-serif;
    --line-height:22.4px;






  }

*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

